<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    nav{
    display:flex;
    gap:8px;}
</style>
<body>
<nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/About}">About</a>
        <a th:href="@{/Contacts}">Contact</a>
</nav>
<section id="about">
    <h2>About this website</h2>
    <p>This website mainly focuses on jobs .many jobseekers can find job by using this website.</p>
    <p>This website also developed for encourage jobseeker and jobless people.</p>
</section>
</body>
</html>