<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
</head>
<body>

<section id="resources">
    <h2>Resources</h2>
    <ul>
        <li ><a href="https://linkedin.com/in/peterbekana" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/in/peterbekana" target="_blank">Github</a></li>
        <li><a href="https://medium.com/@peterbekana" target="_blank">My Blog on Medium</a></li>
    </ul>
</section>
</body>
</html>